.statistics-section {
    position: relative;
    margin-top: 50px;
    padding: 3rem 0;
    background-color: var(--color-white);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.col-md-3 {
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.stat-number {
    font-family: 'Navigo', sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    color: var(--color-dark-blue) !important;
    margin-bottom: 0.5rem;
}

.stat-description {
    font-family: 'Navigo', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--color-dark-gray) !important;
}
