:root {
    --color-white: #FFFFFF;
    --color-light-gray: #F2F2F2;
    --color-medium-gray: #BFBFBF;
    --color-dark-gray: #4D4D4D;
    --color-black: #1A1A1A;
    --color-light-blue: #5AB1F5;
    --color-dark-blue: #004BB5;
}
